<mat-toolbar color="primary" class="flex flex-row justify-between items-center">
  <span>Angular Knock Notifications</span>
  <span class="example-spacer"></span>
  <mat-icon *ngIf="count > 0" [matBadge]="count" matBadgeColor="warn" [matMenuTriggerFor]="menu">notifications</mat-icon>
  <mat-icon *ngIf="count === 0"[matMenuTriggerFor]="menu">notifications</mat-icon>
</mat-toolbar>

<mat-menu #menu="matMenu" class="w-96 h-96" >
  <div class="flex flex-col justify-start items-start p-2">
    <div class="flex flex-row justify-between items-center w-full sticky top-0 z-10 bg-white">
      <h2 class="!m-0">Notifications</h2>
      <button *ngIf="notifications?.length" (click)="service.markAllNotificationsAsRead()" mat-button>Mark all as read</button>
    </div>
    <app-notifications-feed *ngIf="notifications?.length" [notifications]="notifications" class="w-full"></app-notifications-feed>
    <div class="flex flex-col justify-center items-center p-2 w-full">
      <h3>
        No New Notifications
      </h3>
      <h4>Check back later</h4>
    </div>
  </div>
</mat-menu>

